.createProjectBox, .createProjectForm {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.createProjectForm * {
  width: 90%;
  padding: 10px;
}
