.singleProjectPage {
  display: flex;
  flex-direction: column;
  background-color: #1E1F21;
  margin: 20px;
}

hr {
  width: 100%;
}

.taskBox {
  border: 1px solid white;
}
.taskBox:hover {
  transition: all .25s;
  background-color: rgba(211, 211, 211, 0.445);
  cursor: pointer;
}
